<!-- <div>
  {{sentences | uppercase}}
  <button (click)="log()">log sentence</button>
</div>
<div>
  {{today | date: 'yyyy-mm-dd' | uppercase}}
</div>
<input type="text" value="" #txtname>
<button type="button" (click)="add(txtname.value)">add</button>
{{country | joinArray}} -->
<ul *ngFor="let user of users">
  <li (click)="userDetails(user.id)" >{{user.email}} : {{user.id}} : {{user.username}}</li>
</ul>

<!-- <ul *ngFor="let todo of todos">
  <li>{{todo.id}}--{{todo.title}}</li>
</ul> -->

<app-footer ></app-footer>

<form #userForm="ngForm" (ngSubmit)="getUserFormData(userForm.value)">
  <input type="text" ngModel name="name" placeholder="Enter Your name">
  <br><br>
  <input type="text" ngModel name="email" placeholder="Enter Your email">
  <br><br>
  <input type="password" ngModel name="password" placeholder="Enter Your password">
  <br><br>
  <button>Add new user</button>
</form>